:root {
	--primary-background-color: #191a1e;
	--secondary-background-color: #131417;
	--main-theme-color: #0779e4;
	--grey-color: #434345;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: var(--primary-background-color);
}

h1 {
	font-size: 4rem;
	font-weight: 800;
	color: #262627;
}

h2 {
	font-size: 2rem;
	font-weight: 700;
	color: #262627;
}

h3 {
	font-size: 1.125rem;
	font-weight: 600;
	color: #262627;
}

p {
	font-size: 1rem;
	line-height: 1.6;
	font-weight: 500;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
}

hr {
	border: none;
	border-top: 0.5px solid #f1f3f5;
	opacity: 0.5;
}

.primary-text {
	color: var(--main-theme-color);
}

.small-text {
	font-size: 0.8rem;
	font-weight: 100;
}

/* Header */

.header {
	background: linear-gradient(to top, black, rgba(0, 0, 0, 0.1)),
		url(../Assets/images/header-1.jpg) no-repeat center center/cover;
	height: 40vh;
}

/* Intro Info */

.intro {
	display: flex;
	justify-content: space-evenly;
	color: #f1f3f5;
	opacity: 0.9;
}

.intro .intro-info {
	display: flex;
	flex-direction: row;
	margin: 20px auto;
}

.intro .intro-info p,
.intro .inro-info i {
	font-size: 0.8rem;
}

.intro .intro-info .fas {
	padding-right: 10px;
}

.intro .intro-info a {
	color: #f1f3f5;
}

.intro .intro-info a:hover {
	color: var(--main-theme-color);
	transition: all .2s ease;
}

/* Navbar */

.navbar {
	display: flex;
	justify-content: space-evenly;
	margin: 50px auto;
	text-transform: uppercase;
}

.navbar .logo {
	color: #fff;
	font-weight: 800;
}

.navbar ul {
	display: flex;
	list-style: none;
}

.navbar li {
	color: #fff;
	font-weight: 700;
	padding: 18px;
}

.navbar a li:hover {
	color: var(--main-theme-color);
	transform: scale(1.06);
	transition: all .2s ease;
}



/* Header*/

.hero {
	text-align: center;

}

.hero h2 {
	color: #fff;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.hero h3{
	color: #fff;
	padding-bottom: 30px;
	line-height: 1.4;
	font-weight: 400;
}


/* Quality */

.quality {
display: flex;
padding: 50px 0;
justify-content: space-evenly;
text-align: center;
}

.quality h2 {
  padding-bottom: 30px;
  color: #fff;
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.quality h3 {
  color: #fff;
  border-bottom: 2px solid var(--main-theme-color);
}


/* About */


.About {
  background: #fff;
  display: flex;
  padding: 100px 0;
  flex-direction: column;
}

.first-info {
  display: flex;
  justify-content: space-evenly;
}

.first-info h3 {
font-size: 1.5rem;
padding-bottom: 20px;
color: var(--main-theme-color);
}

.first-info p {
  color: var(--grey-color);
}


.second-info {
  display: flex;
  padding: 100px 205px; 
  justify-content: space-between;

}

.second-info img {
  width: 25%;
  box-shadow: 3px 3px 5px #e3e3e3, -3px -3px 5px #e3e3e3;
 
}



.third-info {
  display: flex;
  justify-content: space-evenly;
}

.third-info h3 {
font-size: 1.5rem;
padding-bottom: 20px;
color: var(--main-theme-color);
}

.third-info p {
  color: var(--grey-color);
}



/* Diplomas and Certificates */

.diploma {
	height: 60vh;
	padding: 50px 0;
	text-align: center;
	background: linear-gradient(to top, black, rgba(0, 0, 0, 0.225)),
		url(../Assets/images/header-5.jpg) no-repeat center center/cover;
}

.diploma h2 {
	color: var(--main-theme-color);
	padding-bottom: 30px;
	text-transform: uppercase;
}

.diploma h3 {
	color: #fff;
	text-transform: uppercase;
}

.diploma  img {
	padding: 50px 10px;
}

.diploma  img:hover {
	transform: perspective(1000px) translateY(-10px);
	transition: all .2s ease;
}



/* Footer */

.footer {
	background: var(--secondary-background-color);
	display: flex;
	justify-content: space-evenly;
}

/* Logo & Social Media*/

.footer .logo-social-media {
	text-align: center;
	color: #fff;
	margin: 50px auto;
}

.footer .logo-social-media h2 {
	padding-bottom: 30px;
	text-transform: uppercase;
	color: #fff;
}

.footer .logo-social-media .fab {
	font-size: 1.3rem;
	padding: 0 25px;
	padding-bottom: 30px;
	cursor: pointer;
}

.footer .logo-social-media .fa-brands {
	font-size: 1.3rem;
	padding: 0 25px;
	padding-bottom: 30px;
	cursor: pointer;
}

.footer .logo-social-media .fa-envelope {
	font-size: 1.3rem;
	padding: 0 25px;
	padding-bottom: 30px;
	cursor: pointer;
}

.footer .copyright {
	background: var(--secondary-background-color);
	color: var(--grey-color);
}

/* Logo & Social Media : Hover */

.footer .logo-social-media .fa-linkedin-in:hover {
	transform: perspective(1000px) translatey(-10px);
	color: #4064ac;
	transition: all .2s ease;
}

.footer .logo-social-media .fa-github:hover {
	transform: perspective(1000px) translatey(-10px);
	color: #817f7f;
	transition: all .2s ease;
}

.footer .logo-social-media .fa-envelope:hover {
	transform: perspective(1000px) translatey(-10px);
	color: #08851B;
	transition: all .2s ease;
}

.footer .logo-social-media .fa-hashnode:hover {
	transform: perspective(1000px) translatey(-10px);
	color: #2962ff;
	transition: all .2s ease;
}


/* Newsletter - Subscribe*/

.newsletter {
	margin: 50px auto;
}

.news-info {
	color: white;
}

.news-info h3 {
	font-size: 1rem;
	padding-bottom: 30px;
	text-transform: uppercase;
	color: #fff;
}

.news-info p {
	font-size: 0.8rem;
	padding-bottom: 20px;
}

.newsletter .email {
	background: var(--main-theme-color);
	border-radius: 5px;
	margin-right: 30px;
}

.newsletter .email input {
	padding: 10px;
}

.newsletter .email input:focus {
	outline: none;
}

.newsletter button[type=submit] {
	color: #fff;
	background: none;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	padding-left: 4px ;
}

.newsletter button[type=submit]:focus {
	outline: none;
}

.newsletter button[type=submit]:hover {
	transform: perspective(1000px) translatex(5px);
	transition: all .2s ease;
}
/* Explore */

.explore {
	margin: 50px auto;
}

.explore h3 {
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 30px;
}

.explore ul {
	list-style: none;
}

.explore li {
	color: #fff;
	font-size: 0.9rem;
	padding: 3px 0;
}

.explore li:hover {
	color: var(--grey-color);
	transition: all .2s ease;
}





/* Media Query */

@media (max-width: 1335px) {



	/* Quality */

	
	.quality h2 {
		font-size: 1.5rem;
	}
	
	.quality h3 {
	font-size: 1rem;
	}
	
	
	/* About */
	
	.first-info {
		display: flex;
		justify-content: space-evenly;
	}
	
	.first-info h3 {
	font-size: 1.1rem;
	}
	
	.first-info p {
		font-size: 0.9rem;
	}
	
	
	.second-info img {
		width: 30%;
	}
	

	
	.third-info h3 {
	font-size: 1.1rem;
	}
	
	.third-info p {
		font-size: 0.9rem;
	}
	
	
	
	/* Diplomas and Certificates */
	
	.diploma {
		height: 60vh;
		padding: 100px 0;
		text-align: center;
		background: linear-gradient(to top, black, rgba(0, 0, 0, 0.225)),
			url(../Assets/images/header-5.jpg) no-repeat center center/cover;
	}
	
	.diploma h2 {
	font-size: 1.5rem;
	}
	
	.diploma h3 {
		font-size: 1rem;
	}

}



@media (max-width: 1200px) {



	/* Quality */

	
	.quality h2 {
		font-size: 1.5rem;
	}
	
	.quality h3 {
	font-size: 1rem;
	}
	
	
	/* About */

	.first-info {
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		text-align: center;
	}

	
	.first-info h3 {
	font-size: 1rem;
	padding-top: 30px;
	}
	
	.first-info p {
		font-size: 0.9rem;
		padding: 0;
	}

	.second-info {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	
	
	.second-info img {
		width: 35%;
		padding: 5px;
		box-shadow: none;
	}
	

	.third-info {
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		text-align: center;

	}

	
	.third-info h3 {
	font-size: 1rem;
	padding-top: 30px;
	}
	
	.third-info p {
		font-size: 0.9rem;
	}
	
	
	
	/* Diplomas and Certificates */
	
	.diploma {
		height: 60vh;
		padding: 100px 0;
		text-align: center;
		background: linear-gradient(to top, black, rgba(0, 0, 0, 0.225)),
			url(../Assets/images/header-5.jpg) no-repeat center center/cover;
	}
	
	.diploma h2 {
	font-size: 1.2rem;
	}
	
	.diploma h3 {
		font-size: 0.9rem;
	}

	.diploma img {

		width: 13%;
	}


}







@media (max-width: 1160px) {
	/* Navbar */

	.navbar .logo {
		font-size: 1.6rem;
	}

	.navbar li {
		font-size: 1rem;
	}

	/* Header*/

	.hero h2 {
		padding-bottom: 20px;
		font-size: 1.6rem;
	}

	.hero h3 {
		font-size: 1rem;
	}

}

@media (max-width: 1093px) {
	.navbar {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		margin: 40px auto;
		text-transform: uppercase;
	}

	/* Navbar */

	.navbar .logo {
		font-size: 1.6rem;
		padding-bottom: 25px;
	}

	.navbar ul {
		text-align: center;
		justify-content: center;
		justify-items: center;
	}

	.navbar li {
		font-size: 0.9rem;
	}

	/* Header*/

	.hero h2 {
		padding-bottom: 20px;
		font-size: 1.3rem;
	}

	.hero h3 {
		font-size: 0.9rem;
	}


	

	/* Footer | Logo & Social Media*/

	.footer .logo-social-media {
		text-align: center;
		color: #fff;
		margin: 50px auto;
	}

	.footer .logo-social-media h2 {
		font-size: 1.6rem;
	}

	.footer .logo-social-media .fab {
		font-size: 1.2rem;
		padding: 0 20px;
		padding-bottom: 30px;
	}

	.footer .copyright p {
		font-size: 0.8rem;
	}

	/* Newsletter - Subscribe*/

	.news-info h3 {
		font-size: 0.8rem;
	}

	.news-info p {
		font-size: 0.7rem;
	}

	.newsletter .email input {
		padding: 5px;
	}

	.newsletter button[type=submit] {
		font-weight: 600;
		font-size: 0.7rem;
		padding-left: 2px;
	}

	/* Explore */

	.explore h3 {
		font-size: 0.8rem;
	}

	.explore li {
		font-size: 0.7rem;
	}
}




@media (max-width: 850px) {



	/* Quality */

	.quality {
		display: flex;
		flex-direction: column;
	}

	
	.quality h2 {
		font-size: 1rem;
		padding: 5px 0;
		color: var(--main-theme-color);
		
	}
	
	.quality h3 {
	font-size: 1rem;
	padding: 10px 0 50px 0;
	border-bottom: none;

	}
	
	
	/* About */
	.second-info img {
		width: 50%;
		padding: 5px;
		box-shadow: none;
	}
	

	/* Diplomas and Certificates */
	
	.diploma img {

		width: 20%;
	}


}






@media (max-width: 800px) {
	/* Intro Info */

	.intro .intro-info p,
	.intro .inro-info i {
		font-size: 0.6rem;
	}

	.intro .intro-info .fas {
		font-size: 0.7rem;
	}

	/* Navbar */

	.navbar ul {
		text-align: center;
		justify-content: center;
		justify-items: center;
	}

	.navbar li {
		font-size: 0.9rem;
		padding: 0 10px;
	}

}

@media (max-width: 670px) {
	/* Navbar */

	.navbar ul {
		text-align: center;
		justify-content: center;
		justify-items: center;
	}

	.navbar li {
		font-size: 0.8rem;
		padding: 0 6px;
	}

/* About */
		
		.first-info p {
			font-size: 0.9rem;
			padding: 0 60px;
		}
		
		/* About */

		.second-info img {
			width: 90%;
		}
	
		.third-info p {
			padding: 0 60px;
		}


	/* Diplomas and Certificates */
	
	.diploma img {

		width: 23%;
	}


	/* Footer */

	.footer {
		background: var(--secondary-background-color);
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	.footer .logo-social-media {
		order: 1;
	}

	.explore {
		order: -1;
	}
}


@media (max-width: 600px) {

/* Intro Info */

.intro .intro-info {
	display: flex;
	flex-direction: row;
	margin: 20px auto;
}


.intro .intro-info p,
.intro .inro-info i {
	font-size: 0.45rem;
}

.intro .intro-info .fas {
	font-size: 0.6rem;
}

}


@media (max-width: 550px) {


	/* Navbar */

	.navbar {
		margin: 60px auto;
	}


	.navbar .logo {
		font-size: 1.2rem;
		padding-bottom: 25px;
	}

	.navbar li {
		font-size: 0.7rem;
		padding: 0 5px;
	}


}



	@media (max-width: 520px) {


	/* About */
			
			.first-info p {
				font-size: 0.9rem;
				padding: 0 40px;
			}
			
			/* About */
	
			.second-info img {
				width: 200%;
			}
		
			.third-info p {
				padding: 0 40px;
			}
	
	
		/* Diplomas and Certificates */

		.diploma h2 {
			font-size: 1rem;
		} 


		.diploma h3 {

			font-size: 0.8rem;
			padding: 0 20px;

		}

		
		.diploma img {
	
			width: 24%;
		}
	
	
		/* Footer */
	
		.footer {
			background: var(--secondary-background-color);
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}
	
		.footer .logo-social-media {
			order: 1;
		}
	
		.explore {
			order: -1;
		}



}




@media (max-width: 490px) {

	/* Header */

.header {
	height: 50vh;
}

	/* Intro */

	.intro {
		display: flex;
		flex-direction: column;
		padding: 0;
	}
	.intro .third {
		order: -1;
	}

	.intro .intro-info {
		margin: 10px auto;
		
	}

	.intro .intro-info p {
		font-size: 0.6rem ;
	}

	.second-info img {
		width: 300%;
	}



	/* Navbar */

	.navbar {
		margin: 20px auto;
	}


	.navbar .logo {
		font-size: 1.2rem;
		padding-bottom: 20px;
	}

.navbar ul {
	display: flex;
		flex-direction: column;
		margin: 10px 0;
}

	.navbar li {
		font-size: 0.7rem;
		padding: 3px 0;
		
	}


		/* Header - Text */

		.hero h2 {
			padding-bottom: 15px;
			font-size: 1rem;
		}
	
		.hero h3 {
			font-size: 0.8rem;
		}


}




@media (min-width: 350px) {


		/* Quality */

		.quality h2 {
			font-size: 1rem;
			
		}



	.second-info img {
		display: none;
	}



	.diploma h3 {

		padding: 0 10px;

	}



}